@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    magin: 0;
    padding: 0;
    front-family: 'Poppins', sans serif; 
    color: #1E1E2A;
}

/* Header */

.header-container{
    height: 100vh;
    width: 100vw;
    background-color: #60e17c;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}