@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Modo dark - Javascript*/
body {
	background-color: #e5e8e8;
	color: #4e545c;
	margin: 0;
    font-family: 'Poppins', sans-serif;
}

body.dark-mode {
	background-color: #000401;
	color: #e5e8e8;
}

body.dark-mode {
	background-color: #000401;
	color: #e5e8e8;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button{
	border-radius: 40px;
	font-size: 1.1rem;
	height: 60px;
	width: 180px;
	border: none;
	background-color: #4e545c;
    text-decoration: none;
	color: #e5e8e8;
	transition: all 0.5s linear;
    border: 1px solid #f1eeee;
}

button:hover {
	background-color: #000401;
}

button.dark-mode {
	background-color: #e5e8e8;
	color: #4e545c;
}

button.dark-mode:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}

.button a{
	border-radius: 40px;
	border: none;
    height: 60px;
	width: 200px;
    border: solid ;
	text-decoration: none;
	color: #e5e8e8;
	border: 1px solid #f1eeee;
    border-radius: 40px;
	background-color: #4e545c;
	text-decoration: none;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.button{
    margin-top: 3rem;
    Display:flex 
}

.button-certificados a {
    border-radius: 40px;
	border: none;
    height: 60px;
	width: 250px;
    border: solid ;
	text-decoration: none;
	color: #e5e8e8;
	border: 1px solid #f1eeee;
    border-radius: 40px;
	background-color: #4e545c;
	text-decoration: none;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}
.certificados{
    margin-top: 2rem;
    Display: block;
}


a:hover{
    background-color: #000008;
}

/* Fim do modo Dark javascript*/

/* Header */

.header-container{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing:border-box;
    padding: 0 142px;
    position:relative;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
   text-transform: uppercase;
   letter-spacing: 4px;
}

h3{
   text-transform: uppercase;
   letter-spacing: 4px;
}


/* menu Hamburguer*/ 

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;    
}

.checkbox{
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: #44484e;
    position: absolute;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}
#toggle {
    display: none;
}

/*menu*/

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #4e545c;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2;
 opacity: 0;
 visibility: hidden;
 transition: 400ms ease-in-out 0s;
}

.menu-items ul{
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*Animação do menu*/

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}

#togglr:checked + .checkbox {
    background-color: #000008;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #000008;
    z-index: 1;
}

#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
	width: 100%;
	background-color: #4e545c;
	padding: 8px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

footer.dark-mode {
	background-color: #8d9797;
	color: #000401;
}

h5{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
 
 h5:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
 }
 
 @keyframes pisca {
     0%, 100%{
       opacity: 1;
      }
      50%{
       opacity: 0;
      }
 }

@media screen and (min-width: 640px){
    body {
       display: grid;
       grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px){
     body {
        display: grid;
        grid-template-columns: 1fr;
     }
}

@media screen and (min-width: 960px){
    body {
       display: grid;
       grid-template-columns: 1fr;
    }
}